

/* START OF CSS CUSTOM CODE */

body {
  background-color: #FFFFFF;
  color: #000000;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.author {
  line-height: 4.0;
}

.story-text {
  line-height: 1.9;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}


* {
  font-size: 18px;
}


h1 {
  line-height: 1.5;
  font-size: 30px;
	font-weight: bold;
	margin-top: 30px;
	margin-bottom: 10px;
}

h3 {
  line-height: 1.0;
  font-size: 15px;
	font-style: italic;
}

p {
	margin-bottom: 10px;
}

a {
	text-decoration: none;
}
